/* Estilo principal da seção */
.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 4rem;
  background: linear-gradient(135deg, #ffffff, #f0f0f0);
  color: #333;
}

/* Seções laterais */
.left, .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  margin-left: -375px;
}

.social-icons {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  margin: 20px;
}

.social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-media li {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin: 10px;
  gap: 20px;
}

.social-media a {
  color: #333;
  transition: color 0.3s ease;
  font-size: 2rem;
  text-decoration: none;
}

.social-media a:hover {
  color: #555;
}

/* Estilo central */
.center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.presentation-text {
  text-align: left;
  margin-top: 50px;
  max-width: 600px;
  width: 100%;
}

/* Estilo dos títulos e subtítulos */
.presentation-title {
  font-size: 5rem;
  text-align: left;
  color: #333;
  margin: 0.5rem 0;
  font-weight: bold;
}

.first-text {
  display: flex;
  margin-left: 24rem;
  font-size: 1.4rem;
  color: #666;
}

.subtitle {
  display: inline-block;
  font-size: 1.4rem;
  color: #555;
}

.impact-phrase {
  display: flex;
  flex-direction: row;
  margin-left: 18.5rem;
  margin-top: 10px;
  font-size: 1.2em;
  color: #444;
  font-style: italic;
}

/* Estilo dos botões */
.button-components {
  display: flex;
  gap: 1rem;
  justify-content: left;
  margin-top: 2rem;
  margin-left: 18.3rem;
}

.curriculum-button,
.contact-button {
  background: #333333;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.curriculum-button:hover,
.contact-button:hover {
  background: #8a8a8a;
}

.scroll-down-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.scroll-down-button button {
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.scroll-down-button button:hover {
  color: #fff;
  transition: color 0.3s ease-in-out;
}

/* Estilo da imagem de perfil */
.right .profile-picture {
  width: 350px;
  height: 350px;
  margin-left: -100px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  transition: width 3s ease, height 2s ease-in-out;
}

/* Media queries */

/* Tablets */
@media only screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column-reverse;
    padding: 0 2rem;
  }

  .left {
    margin-bottom: 10px;
    margin-left: 0; /* Remove margem esquerda */
  }

  .right {
    margin-bottom: 10px;
    margin-left: 0; /* Remove margem esquerda */
  }

  .presentation-title {
    margin-top: 20px;
    font-size: 4rem;
    text-align: center;
  }

  .subtitle {
    display: none;
  }

  .first-text {
    font-size: 1.2rem;
    margin-left: 0;
    text-align: center;
  }

  .impact-phrase {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 0;
    text-align: center;
  }

  .button-components {
    justify-content: center;
    margin-top: 50px;
  }

  .right .profile-picture {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
}

/* Smartphones */
@media only screen and (max-width: 768px) {
  .presentation {
    flex-direction: column-reverse;
    padding: 0 1rem;
  }

  .left {
    margin-bottom: -230px;
  }

  .presentation-title {
    margin-top: 20px;
    font-size: 2.5rem;
    text-align: center;
  }

  .first-text, .impact-phrase {
    margin-left: 0;
    margin-bottom: -10px;
  }

  .button-components {
    justify-content: center;
    margin-top: 30px;
  }

  .right .profile-picture {
    width: 300px;
    height: 300px;
    margin-bottom: -300px;
  }
}

/* Pequenos smartphones */
@media only screen and (max-width: 480px) {
  .presentation {
    flex-direction: column-reverse;
    padding: 0 0.5rem;
  }

  .left {
    margin-bottom: 100px;
  }

  .presentation-title {
    font-size: 2rem;
    text-align: center;
  }

  .first-text, .impact-phrase {
    margin-left: 0;
    text-align: center;
  }

  .button-components {
    justify-content: center;
    margin-top: 20px;
  }

  .right .profile-picture {
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
}
