.projects {
  padding: 10rem 2rem;
  margin-bottom: 80px;
  background-color: #f0f0f0;
  text-align: center;
  position: relative; /* Adiciona contexto para o posicionamento absoluto do botão */
}

.projects > h2 {
  margin-top: 1.5rem;
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0px; /* Ajuste da margem entre slides */
  margin-bottom: 1.5rem;
}

.slick-list {
  margin: 0 200px; /* Ajuste da margem entre slides */
}

.project-card {
  background: #fff;
  padding: 10px; /* Diminuir o padding dos cards */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; /* Ajuste para garantir que o card não exceda o container */
  max-width: 250px; /* Define a largura máxima dos cards */
  margin: 0 auto; /* Centraliza os cards dentro do slider */
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px; /* Diminuir o espaço abaixo da imagem */
}

.project-card h3 {
  font-size: 1rem; /* Ajustar o tamanho do texto do título */
  color: #333;
  margin-bottom: 6px; /* Diminuir o espaço abaixo do título */
}

.project-card p {
  font-size: 0.8rem; /* Ajustar o tamanho do texto da descrição */
  color: #666;
  margin-bottom: 8px; /* Diminuir o espaço abaixo da descrição */
}

.project-card a {
  display: inline-block;
  padding: 6px 12px; /* Diminuir o padding do botão */
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 0.8rem; /* Ajustar o tamanho do texto do botão */
}

.project-card a:hover {
  background: #555;
}

.scroll-down-button-p {
  position: absolute; /* Mantém o botão fixo na parte inferior da seção */
  bottom: 7rem;
  left: 50%;
  margin-bottom: -25px;
  transform: translateX(-50%);
  z-index: 10; /* Garante que o botão fique acima de outros elementos */
}

.scroll-down-button-p button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 24px; /* Tamanho do ícone */
  color: #333; /* Cor padrão do ícone */
  transition: color 0.3s ease;
}

.scroll-down-button-p button:hover {
  color: #666666; /* Cor do ícone ao passar o mouse */
}

.scroll-down-button-p button:focus {
  outline: none;
}

.scroll-down-button-p i {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .projects {
    padding: 5rem 1rem; /* Ajusta o padding para telas menores */
    margin-bottom: 40px; /* Ajusta o espaçamento inferior */
  }

  .projects > h2 {
    font-size: 2rem; /* Ajusta o tamanho do título */
    margin-bottom: 1.5rem; /* Ajusta o espaçamento inferior do título */
  }

  .slick-list {
    margin: 0 20px; /* Ajusta a margem lateral entre os slides */
  }

  .project-card {
    max-width: 200px; /* Ajusta a largura máxima dos cards */
  }

  .project-card img {
    margin-bottom: 6px; /* Ajusta o espaçamento abaixo da imagem */
  }

  .project-card h3 {
    font-size: 0.9rem; /* Ajusta o tamanho do texto do título */
  }

  .project-card p {
    font-size: 0.7rem; /* Ajusta o tamanho do texto da descrição */
  }

  .project-card a {
    padding: 4px 8px; /* Ajusta o padding do botão */
    font-size: 0.7rem; /* Ajusta o tamanho do texto do botão */
  }

  .scroll-down-button-p {
    display: none; /* Ajusta a distância do botão da parte inferior */
  }
}

/* Medium devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .projects {
    padding: 8rem 1.5rem; /* Ajusta o padding para telas médias */
    margin-bottom: 60px; /* Ajusta o espaçamento inferior */
  }

  .projects > h2 {
    font-size: 2.5rem; /* Ajusta o tamanho do título */
    margin-bottom: 2rem; /* Ajusta o espaçamento inferior do título */
  }

  .slick-list {
    margin: 0 50px; /* Ajusta a margem lateral entre os slides */
  }

  .project-card {
    max-width: 220px; /* Ajusta a largura máxima dos cards */
  }

  .project-card img {
    margin-bottom: 7px; /* Ajusta o espaçamento abaixo da imagem */
  }

  .project-card h3 {
    font-size: 1rem; /* Ajusta o tamanho do texto do título */
  }

  .project-card p {
    font-size: 0.8rem; /* Ajusta o tamanho do texto da descrição */
  }

  .project-card a {
    padding: 5px 10px; /* Ajusta o padding do botão */
    font-size: 0.8rem; /* Ajusta o tamanho do texto do botão */
  }

  .scroll-down-button-p {
    display: none; /* Ajusta a distância do botão da parte inferior */
  }
}
