/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que o corpo da página e o elemento root ocupem toda a altura da viewport */
html, body {
  height: 100%;
  margin: 0;
}

/* Estilo para o root */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o root ocupe a altura total da viewport */
  background-color: #f5f5f5;
}

/* Estilo para o conteúdo principal, garantindo que ele ocupe o espaço restante */
.main-content {
  flex: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
}
